
.amplop{
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #fae1dd;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 750px) {
    .valentines{
        position: relative;
        cursor: pointer;
        animation: up 3s linear infinite;
        margin-top: -320px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1450px) {
    .valentines{
        position: relative;
        cursor: pointer;
        animation: up 3s linear infinite;
        margin-top: -170px;
    }
}

@media only screen and (min-width: 1450px) {
    .valentines{
        position: relative;
        cursor: pointer;
        animation: up 3s linear infinite;
        margin-top: -340px;
    }
}


.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}
.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: #f08080;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}
.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}
.front::before{
    position: absolute;
    content: '';
    border-left: 300px solid #fda996;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
}
.kartu{
    position: relative;
    width: 250px;
    height: 180px;
    background: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
}
.kartu::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #003049;
    border-style: dashed;
}
.valentines:hover .kartu{
    transform: translateY(-100px);
}
.kartu .text{
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    color: #003049;
}
.kartu .heart{
    position: relative;
    margin-right: 28px;
    width: 35px;
    height: 35px;
    background: red;
    bottom: 20px;
    transform: rotate(45deg);
    border-radius: 50% 0 0 50%;
}
.kartu .heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 0 50% 50% 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top;
}
.kartu .heart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    right: -18px;
}
@keyframes up{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
.valentines::before{
    content: '';
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;
}
@keyframes scale{
    0%, 100%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(.85);
    }
}



@media only screen and (max-width: 750px) {
    .atas{
        font-family: 'Playball', cursive;
        font-size: 40px;
        text-align: center;
        color: #003049;
        margin-top: -100px;
    }

    .bawah{
        font-family: 'Bitter', serif;
        font-size: 20px;
        margin-top: -470px;
        text-align: center;
        color: #003049;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1450px) {
    .atas{
        font-family: 'Playball', cursive;
        font-size: 50px;
        text-align: center;
        margin-bottom: 310px;
        color: #003049;
    }

    .bawah{
        font-family: 'Bitter', serif;
        font-size: 20px;
        text-align: center;
        margin-top: -670px;
        color: #003049;
    }
}

@media only screen and (min-width: 1450px) {
    .atas{
        font-family: 'Playball', cursive;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0px;
        color: #003049;
    }

    .bawah{
        font-family: 'Bitter', serif;
        font-size: 24px;
        text-align: center;
        margin-top: -440px;
        color: #003049;
    }
}
